[workspace]
members = [
    ".",
    "evm_logs_types",
    "src/test_canister",
]

[package]
name = "evm_logs_canister"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
candid = { version = "0.10" }
ic-cdk = "0.14.0"
ic-cdk-timers = "0.3" 
ic-cdk-macros = "0.9"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
evm-rpc-canister-types = "3.0.0"
evm_logs_types = {path = "evm_logs_types"}
tokio = "1.40.0"

[dev-dependencies]
pocket-ic = "4.0.0"

[package.metadata.candid]
generate = true

